Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Mail
Werkzeug
SQLAlchemy
python-dotenv
requests
gunicorn
Pillow
python-magic
email-validator
itsdangerous
bcrypt
Jinja2
MarkupSafe
click
colorama
blinker
fal-client
python-magic-bin