<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depth Spark - See the Unseen</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="/">Depth Spark</a></h1>
            
            <!-- Hamburger Menu Button -->
            <button class="hamburger" aria-label="Menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#features">Features</a></li>
                    <li><a href="/#how-it-works">How It Works</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="/#faq">FAQ</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
                    <!-- Mobile Auth Buttons -->
                    <li class="mobile-auth">
                        <a href="/login" class="button">Sign In</a>
                        <a href="/signup" class="button signup-button">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <div class="header-auth">
                <a href="/login">Sign In</a>
                <a href="/signup" class="button signup-button">Sign Up</a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Depth Spark</p>
    </footer>

    {% block js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>